<footer id="footer">
  <div class="wrapper">
    <p>
      <a href="https://nprail.me">Built by Noah Prail</a> |
      <a href="https://github.com/nprail/octobot">GitHub</a>
    </p>
  </div>
</footer>